
/*animation for trickery - bounceout*/
.animated-class{
  &.ng-enter {
    -webkit-animation: bounceIn 1s;
    -moz-animation: bounceIn 1s;
    -ms-animation: bounceIn 1s;
    animation: bounceIn 1s;
  }
  &.ng-leave {
    -webkit-animation: bounceOut 1s;
    -moz-animation: bounceOut 1s;
    -ms-animation: bounceOut 1s;
    animation: bounceOut 1s;
  }
}

/*For the sidebar*/
.leftNav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 15%;
    background-color: #473bc0;
    height: 100%; 
    position: fixed; 
    overflow: auto; /* Enable scrolling if the sidenav has too much content */
}
