<body ng-model='ngMaterial' layout="column">
	<md-toolbar layout="row">
		<h1>Survey Skew Test</h1>
	</md-toolbar>

	<div layout="row" flex>
		<md-sidenav layout="column"
		 md-component-id="left" md-is-locked-open="$mdMedia('gt-sm')"
		 class="md-whiteframe-z2">
			<md-list>
			  
			  <md-list-item class="md-2-line">
			    <md-button>Build a Survey</md-button>
			  </md-list-item>

			  <md-list-item class="md-2-line">
			    <md-button>Take a Survey</md-button>
			  </md-list-item>

			  <md-list-item class="md-2-line">
			    <md-button>Group Surveys</md-button>
			  </md-list-item>

			  <md-list-item class="md-2-line">
			    <md-button>Logout</md-button>

			  </md-list-item>
			</md-list>
		</md-sidenav>

		<md-content flex id="content">
			<h2>Test</h2>
				<div>
					Ph'nglui mglw'nafh Cthulhu R'lyeh wgah'nagl fhtagn. Hlirgh lw'nafh ya ngzhro, namnahn' ulnoth Shub-Niggurathor n'gha nnnnw grah'n y-'ai Tsathoggua ftaghu, llll Shub-Niggurath shagg Azathoth kn'a cooboshu mnahn'agl sgn'wahl. Ep Azathoth tharanak ngTsathoggua hafh'drn nw k'yarnak, fhtagn cshagg nglui ph'shagg throd R'lyeh ch', gnaiih naflAzathoth s'uhn r'luhoth hrii. Zhro gof'nnnyth y-ilyaa ph'ftaghu shtunggli hriiog hai, vulgtmoth mg bug llll stell'bsna, uh'e sgn'wahl ngbug sgn'wahl ilyaa. Hastur uaaah k'yarnak ee mg uh'e ilyaa, Nyarlathotep chtenff fm'latgh gotha y-ch', Nyarlathotep naflChaugnar Faugn fm'latgh Shub-Niggurath gnaiih. Tsathoggua Yoggoth ilyaa ah nafln'ghft ya llll ah, uln Nyarlathotep nglui gotha 'bthnk sll'ha nghafh'drn sll'ha, cgotha goka orr'e bug fhtagnog lloig. 
				</div>
		</md-content>
	</div>
</body>	