<div ng-controller = "QuestionCtrl as qCtrl">
  <div class = "container">

  <!--main buttones to choose what kind of question to make-->

    <button ng-click = "qCtrl.chooseCheckbox()" ng-hide = "qCtrl.hide1 > 0">Click me to create a Checkbox question, when you want your responders to have the ability to choose more than one answer!</button>

    <button ng-click = "qCtrl.chooseTextarea()">Click me to create Textarea question,  when you want your responders to give you long winded explanations!</button>

    <button ng-click = "qCtrl.chooseRadio()">Click me to create Radio questions, when you want your responders to give you just one answer! Nuance be damned!</button>

  <!--Show and hide logic for making question assets-->

    <!--Checkbox Databinding Template-->
    <div ng-show = "qCtrl.hide1 > 0">
      <h1>{{qCtrl.asset[0]}}</h1>
    </div>

  </div>
</div>
