<div layout="column"  layout-align="space-around center">
  <!--input for survey name-->
  <div ng-hide = "qCtrl.surveyName.length > 1">
    <h2>Enter a name for your survey</h2>
    <input class = "surveyName"/>

    <md-button class="submitColor" ng-click = "qCtrl.setSurveyName()">submit</md-button>
  </div>


  <!--display buttons and button maker-->
  <div ng-show = "qCtrl.surveyName.length > 1">

  <!--main buttons to choose what kind of question to make-->
    <md-button ng-click = "qCtrl.chooseCheckbox()" ng-hide = "qCtrl.hide4 > 0">Create a Multiple Choice Question</md-button>

    <md-button ng-click = "qCtrl.chooseTextarea()" ng-hide = "qCtrl.hide4 > 0">Create a Fill in the Blank</md-button>

    <md-button ng-click = "qCtrl.chooseRadio()" ng-hide = "qCtrl.hide4 > 0">Create a Radio Question</md-button>

    <!--button to save survey-->
    <br/><md-button class = "submitColor" ng-click = "qCtrl.saveSurvey()" ng-show = "qCtrl.authData">Save Survey</md-button>

  <!--Show and hide logic for making question assets-->

    <!--CHECKBOX QUESTION DATABINDING TEMPLATE-->
    <!--need to add a fourth item to the asset that is the 'ideal' answer-->
    <div ng-show = "qCtrl.hide1 > 0">
      <!--question title, hides when editing-->
      <h3 ng-click = "questionEditor = !questionEditor" ng-hide = "questionEditor">{{qCtrl.asset[0]}}</h3>
      <!--input shown when editing-->
      <input ng-show = "questionEditor" ng-model = "qCtrl.asset[0]"/>
      <md-button class = "showme" ng-show = "questionEditor" ng-click = "questionEditor = !questionEditor">done</md-button>

      <!--answers-->
      <ol>

        <li ng-repeat = "answer in qCtrl.asset[1] | unique track by $index">
          <input type="radio" name = "ideal" class = "idealBtn" value = '{{answer}}'/><!--consider an ng-show for fuckery?-->
          <!--^^button for ideal selection -->
          <span ng-hide = "answerEditor" ng-click = "answerEditor = !answerEditor">{{answer}}</span>
          <!--done editing and delete buttons-->
          <md-button class = "showme" ng-show = "answerEditor" ng-click = "answerEditor = !answerEditor">done</md-button>
          <md-button class = "showme" ng-show = "!answerEditor" ng-click = "qCtrl.killAnswer($index)">Delete Answer</md-button>
          <input ng-show = "answerEditor" ng-model = "qCtrl.asset[1][$index]"/>
        </li>
      </ol>

      <!--back, save and add answer buttons-->
      <md-button ng-click = "qCtrl.backToQuestionSelector()">Back</md-button>
      <md-button ng-click = "qCtrl.saveAsset()">Save</md-button>
      <md-button ng-click = "qCtrl.addAnswer()">Add Answer</md-button>
    </div><!--end checkboxes-->

    <!--TEXTAREA QUESTION DATABINDING TEMPLATE-->
    <div ng-show = "qCtrl.hide2 > 0">
      <h3 ng-click = "questionEditor = !questionEditor" ng-hide = "questionEditor">{{qCtrl.asset[0]}}</h3>
      <input ng-show = "questionEditor" ng-model = "qCtrl.asset[0]"/>
      <md-button class = "showme" ng-show = "questionEditor" ng-click = "questionEditor = !questionEditor">done</md-button>

      <!--answer area-->
      <textarea ng-model = "qCtrl.asset[1][$index]" placeholder = "Your respondants will put their answers here!"/>

      <!--back and save buttons-->
      <md-button ng-click = "qCtrl.backToQuestionSelector()">Back</md-button>
      <md-button ng-click = "qCtrl.saveAsset()">Save</md-button>
    </div><!--end textarea-->

    <!--RADIO QUESTION DATABINDING TEMPLATE-->
    <div ng-show = "qCtrl.hide3 > 0">
      <h3 ng-click = "questionEditor = !questionEditor" ng-hide = "questionEditor">{{qCtrl.asset[0]}}</h3>
      <!--input shown when editing-->
      <input ng-show = "questionEditor" ng-model = "qCtrl.asset[0]"/>
      <md-button class = "showme" ng-show = "questionEditor" ng-click = "questionEditor = !questionEditor">done</md-button>

      <!--answers-->
      <ol>
        <li ng-repeat = "answer in qCtrl.asset[1] | unique track by $index">
          <span ng-hide = "answerEditor" ng-click = "answerEditor = !answerEditor">{{answer}}</span>
          <!--done editing and delete buttons-->
          <md-button class = "showme" ng-show = "answerEditor" ng-click = "answerEditor = !answerEditor">done</md-button>
          <md-button class = "showme" ng-show = "!answerEditor" ng-click = "qCtrl.killAnswer($index)">Delete Answer</md-button>
          <input ng-show = "answerEditor" ng-model = "qCtrl.asset[1][$index]"/>
        </li>
      </ol>

      <!--back, save and add answer buttons-->
      <md-button ng-click = "qCtrl.backToQuestionSelector()">Back</md-button>
      <md-button ng-click = "qCtrl.saveAsset()">Save</md-button>
      <md-button ng-click = "qCtrl.addAnswer()">Add Answer</md-button>
    </div><!--end radio-->
  </div><!--end question maker-->
</div><!--end container--><!--end partial-->
