<div ng-controller = "QuestionCtrl">
  <div class = "container">

  <!--input for surver name-->
  <div ng-hide = "qCtrl.surveyName.length > 1">
    <h2>Enter a name for your survey</h2>
    <input class = "surveyName"/>
    <button ng-click = "qCtrl.setSurveyName()">submit</button>
  </div>

  <!--display buttons and button maker-->
  <div ng-show = "qCtrl.surveyName.length > 1">
  <!--main buttons to choose what kind of question to make-->
    <button ng-click = "qCtrl.chooseCheckbox()" ng-hide = "qCtrl.hide4 > 0">Click me to create a Checkbox question, when you want your responders to have the ability to choose more than one answer!</button>

    <button ng-click = "qCtrl.chooseTextarea()" ng-hide = "qCtrl.hide4 > 0">Click me to create Textarea question,  when you want your responders to give you long winded explanations!</button>

    <button ng-click = "qCtrl.chooseRadio()" ng-hide = "qCtrl.hide4 > 0">Click me to create Radio questions, when you want your responders to give you just one answer! Nuance be damned!</button>

  <!--Show and hide logic for making question assets-->

    <!--Checkbox Databinding Template-->
    <div ng-show = "qCtrl.hide1 > 0">
      <!--question title, hides when editing-->
      <h3 ng-click = "questionEditor = !questionEditor" ng-hide = "questionEditor">{{qCtrl.asset[0]}}</h3>
      <!--input shown when editing-->
      <input ng-show = "questionEditor" ng-model = "qCtrl.asset[0]"/>
      <button class = "showme" ng-show = "questionEditor" ng-click = "questionEditor = !questionEditor">done</button>

      <!--answers-->
      <ol>
        <li ng-repeat = "answer in qCtrl.asset[1] | unique track by $index">
          <span ng-hide = "answerEditor" ng-click = "answerEditor = !answerEditor">{{answer}}</span>
          <button class = "showme" ng-show = "answerEditor" ng-click = "answerEditor = !answerEditor">done</button>
          <input ng-show = "answerEditor" ng-model = "qCtrl.asset[1][$index]"/>
        </li>
      </ol>
      <!--back and save buttons-->
      <button ng-click = "qCtrl.backToQuestionSelector()">Back</button>
      <button ng-click = "qCtrl.saveAsset()">Save</button>
      <button ng-click = "qCtrl.addAnswer()">Add Answer</button>
    </div><!--end checkboxes-->

    <!--Textarea databinding template -->
    <div ng-show = "qCtrl.hide2 > 0">
      <h3 ng-click = "questionEditor = !questionEditor" ng-hide = "questionEditor">{{qCtrl.asset[0]}}</h3>
      <input ng-show = "questionEditor" ng-model = "qCtrl.asset[0]"/>
      <button class = "showme" ng-show = "questionEditor" ng-click = "questionEditor = !questionEditor">done</button>

      <!--answer area-->
      <textarea ng-model = "qCtrl.asset[1][$index]" placeholder = "Your respondants will put their answers here!"/>
      <!--back and save buttons-->
      <button ng-click = "qCtrl.backToQuestionSelector()">Back</button>
      <button ng-click = "qCtrl.saveAsset()">Save</button>
    </div><!--end textarea-->

    <!--Radio databinding template-->
    <div ng-show = "qCtrl.hide3 > 0">
      <h3 ng-click = "questionEditor = !questionEditor" ng-hide = "questionEditor">{{qCtrl.asset[0]}}</h3>
      <!--input shown when editing-->
      <input ng-show = "questionEditor" ng-model = "qCtrl.asset[0]"/>
      <button class = "showme" ng-show = "questionEditor" ng-click = "questionEditor = !questionEditor">done</button>

      <!--answers-->
      <ol>
        <li ng-repeat = "answer in qCtrl.asset[1] | unique track by $index">
          <span ng-hide = "answerEditor" ng-click = "answerEditor = !answerEditor">{{answer}}</span>
          <button class = "showme" ng-show = "answerEditor" ng-click = "answerEditor = !answerEditor">done</button>
          <input ng-show = "answerEditor" ng-model = "qCtrl.asset[1][$index]"/>
        </li>
      </ol>
      <!--back and save buttons-->
      <button ng-click = "qCtrl.backToQuestionSelector()">Back</button>
      <button ng-click = "qCtrl.saveAsset()">Save</button>
    </div><!--end radio-->
  </div><!--end question maker-->

  </div><!--end container-->
</div><!--end partial-->
