<div class = "container">
  <!--back to making a survey-->
  <md-button a href="#/makeSurvey">Back</md-button>

  <!--buttons for user's surveys -->
  <ul layout="row"  layout-align="space-around center" id="noBullets">
    <li ng-repeat = "survey in rCtrl.surveyList">
      <md-button ng-click = "rCtrl.displayResponses(survey.$id)" class="md-raised-primary">{{survey.$id}}</md-button>
    </li>
  </ul><!--end user surveys buttons-->

  <ul><!--lists questions and answers-->
    <li ng-repeat = "(key, value) in rCtrl.answerObj">
      <!--question--><b><u>{{key}}:</u></b><br/>
      <!--answers-->{{value.join(', ')}}
    </li>
  </ul><!--ends questions and answers-->
</div><!--end container-->
