
    <!-- <div id="wrapper"> -->

        <!-- Sidebar -->
 <!--        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="#">
                        Survey MonkeyButt
                    </a>
                </li>
                <li>
                    <a href="#">Build a Survey</a>
                </li>
                <li>
                    <a href="#">Take a Survey</a>
                </li>
                <li>
                    <a href="#">Group Survey</a>
                </li>
                <li>
                    <a href="#">Logout</a>
                </li>
                

            </ul>
        </div>
    </div>
 -->


<!-- <nav>
  <ul class="right hide-on-med-and-down">
    <li><a href="#!">First Sidebar Link</a></li>
    <li><a href="#!">Second Sidebar Link</a></li>
  </ul>
  <ul id="slide-out" class="side-nav">
    <li><a href="#!">First Sidebar Link</a></li>
    <li><a href="#!">Second Sidebar Link</a></li>
  </ul>
  <a href="#" data-activates="slide-out" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
</nav> -->