<!-- =====sidebar====== --> 

<nav class="leftNav">
  <ul class="left hide-on-med-and-down">
    <a href="#"> Survey Skew </a>
    <div class="form-group chip">


  
      <!-- <i input type="text" class="form-control material-icons" placeholder="Search for a Survey">search</i> -->


    <input type="text" class="form-control" placeholder="Search for a Survey">
      <i class="material-icons">search</i>

    </div>

<!--   <button type="submit" class="btn btn-default">Submit</button> -->

    <li><a href="#/makeSurvey">Build a Survey</a></li>
    <li><a href="#/takeSurvey">Take a Survey</a></li>
    <!-- <li><a href="#!">Group Survey</a></li> -->
    <li><a href="#!">Logout</a></li>
  </ul>
  <ul id="slide-out" class="side-nav">
    <li><a href="#/makeSurvey">Build a Survey</a></li>
    <li><a href="#/takeSurvey">Take a Survey</a></li>
    <!-- <li><a href="#!">Group Survey</a></li> -->
    <li><a href="#!">Logout</a></li>
  </ul>
  <a href="#" data-activates="slide-out" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
</nav>
</br>
<!-- ------end of sidebar----------------